@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  border-radius: 0;
}

._block {
  padding-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
._block:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  ._block:not(:last-child) {
    margin-bottom: calc(30px + 10 * ((100vw - 320px) / 280));
  }
}

._body {
  display: flex;
  flex-direction: column;
}

._title { /* Если меньше контейнера */
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 600px) {
  ._title {
    font-size: calc(18px + 2 * ((100vw - 320px) / 280));
  }
}
._title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 25px;
}
@media (max-width: 600px) {
  ._title:not(:last-child) {
    margin-bottom: calc(20px + 5 * ((100vw - 320px) / 280));
  }
}

._number {
  /* Если меньше контейнера */
  margin-right: 22px;
  padding-top: 9px;
  /* Если меньше контейнера */
  padding-left: 23px;
  /* Если меньше контейнера */
  padding-right: 31px;
  padding-bottom: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 35px 0px;
  background-color: #524593;
  /* Если меньше контейнера */
  font-size: 48px;
  font-weight: 600;
  line-height: 145.8333333333%;
  letter-spacing: 0em;
  color: #fff;
}
@media (max-width: 600px) {
  ._number {
    margin-right: calc(15px + 7 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 600px) {
  ._number {
    padding-left: calc(18px + 5 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 600px) {
  ._number {
    padding-right: calc(23px + 8 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 600px) {
  ._number {
    font-size: calc(24px + 24 * ((100vw - 320px) / 280));
  }
}

.check__list {
  /* Если меньше контейнера */
  -moz-column-gap: 30px;
       column-gap: 30px;
  /* Если меньше контейнера */
  row-gap: 20px;
  display: grid;
}
@media (max-width: 600px) {
  .check__list {
    -moz-column-gap: calc(0px + 30 * ((100vw - 320px) / 280));
         column-gap: calc(0px + 30 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 600px) {
  .check__list {
    row-gap: calc(15px + 5 * ((100vw - 320px) / 280));
  }
}
@media (min-width: 480.2px) {
  .check__list {
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  }
}
@media (max-width: 480.2px) {
  .check__list {
    grid-row: 1fr;
  }
}
@media (any-hover: hover) {
  .check__item:hover .check__label:after {
    opacity: 0.4;
  }
}
.check__checkbox {
  display: none;
}
.check__checkbox:checked + .check__label:before {
  border-color: #524593;
}
.check__checkbox:checked + .check__label:after {
  opacity: 1;
}
.check__label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.check__label span {
  /* Если меньше контейнера */
  padding-left: 35px;
  font-family: Helvetica;
  /* Если меньше контейнера */
  font-size: 18px;
  font-weight: 300;
  line-height: 133.3333333333%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 600px) {
  .check__label span {
    padding-left: calc(30px + 5 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 600px) {
  .check__label span {
    font-size: calc(16px + 2 * ((100vw - 320px) / 280));
  }
}
.check__label:before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  transition: border-color 0.2s ease 0s;
  border: 2px solid rgba(82, 69, 147, 0.6);
  border-radius: 2px;
}
.check__label:after {
  content: "";
  width: 26px;
  height: 22px;
  position: absolute;
  top: -2px;
  left: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease 0s;
  background-image: url("../img/icon/check.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.field__label, ._btn, .check__label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._btn {
  padding-top: 5px;
  /* Если меньше контейнера */
  padding-left: 75px;
  /* Если меньше контейнера */
  padding-right: 75px;
  padding-bottom: 5px;
  /* Если меньше контейнера */
  min-height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* Если меньше контейнера */
  border-radius: 35px;
  background-color: #AEC343;
  white-space: nowrap;
  font-family: Helvetica;
  /* Если меньше контейнера */
  font-size: 24px;
  font-weight: 400;
  line-height: 116.6666666667%;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
@media (max-width: 600px) {
  ._btn {
    padding-left: calc(35px + 40 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 600px) {
  ._btn {
    padding-right: calc(35px + 40 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 600px) {
  ._btn {
    min-height: calc(50px + 10 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 600px) {
  ._btn {
    border-radius: calc(25px + 10 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 600px) {
  ._btn {
    font-size: calc(16px + 8 * ((100vw - 320px) / 280));
  }
}
._btn:active {
  transform: translateY(3px);
}
@media (any-hover: hover) {
  ._btn {
    transition: background-color 0.3s ease 0s;
  }
  ._btn:hover {
    background-color: #a2b63c;
  }
}

._btn-click:active {
  transform: translateY(2px);
}

.field__item {
  width: 100%;
  display: flex;
  align-items: center;
}
.field__label {
  /* Если меньше контейнера */
  padding-right: 20px;
  /* Если меньше контейнера */
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
}
@media (max-width: 600px) {
  .field__label {
    padding-right: calc(10px + 10 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 600px) {
  .field__label {
    font-size: calc(16px + 4 * ((100vw - 320px) / 280));
  }
}
.field__input {
  padding: 0px 10px;
  max-width: 300px;
  width: 100%;
  border-bottom: 2px solid #524593;
  background-color: transparent;
  font-family: Helvetica;
  /* Если меньше контейнера */
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0em;
  text-align: left;
  color: #524593;
}
@media (max-width: 600px) {
  .field__input {
    font-size: calc(16px + 2 * ((100vw - 320px) / 280));
  }
}

body {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 14px;
  color: #524593;
}
body:before {
  content: "";
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../img/page/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body._lock-scroll {
  overflow: hidden;
}

.wrapper {
  /* Всегда */
  padding-top: calc(0px + 100 * ((100vw - 320px) / 1600));
  /* Всегда */
  padding-bottom: calc(0px + 100 * ((100vw - 320px) / 1600));
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media (max-width: 768.2px) {
  .wrapper {
    padding: 0px 0px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

._container {
  padding: 0px 15px 0px 15px;
  margin: 0px auto;
  max-width: 600px;
  overflow: hidden;
}
@media (max-width: 768.2px) {
  ._container {
    max-width: 768.2px;
    padding: 0px;
  }
}

.header__wrapper {
  padding: 4px 0px;
  /* Если меньше контейнера */
  min-height: 120px;
  border-radius: 25px 25px 0px 0px;
  background-color: #AEC343;
}
@media (max-width: 600px) {
  .header__wrapper {
    min-height: calc(80px + 40 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 768.2px) {
  .header__wrapper {
    border-radius: 0px;
  }
}
.header__body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  flex-grow: 0;
  flex-shrink: 1;
  /* Если меньше контейнера */
  flex-basis: 94px;
}
@media (max-width: 600px) {
  .header__logo {
    flex-basis: calc(84px + 10 * ((100vw - 320px) / 280));
  }
}
.header__logo img {
  max-width: 100%;
}

.footer__body {
  /* Если меньше контейнера */
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  .footer__body {
    padding-top: calc(35px + 15 * ((100vw - 320px) / 280));
  }
}
.popup-wrapper__item {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease 0s;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-wrapper__item._active {
  opacity: 1;
  pointer-events: auto;
}
.popup-wrapper__item._active .popup-item__body {
  opacity: 1;
  transform: scale(1);
}

.popup-item__body {
  max-width: 320px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 40px rgba(165, 178, 192, 0.9);
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}
.popup-item__top {
  padding-top: 10px;
  /* Если меньше контейнера */
  padding-right: 20px;
  /* Если меньше контейнера */
  padding-left: 20px;
  padding-bottom: 10px;
  /* Если меньше контейнера */
  min-height: 68px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #E7EAEE;
  background-color: #fff;
}
@media (max-width: 600px) {
  .popup-item__top {
    padding-right: calc(15px + 5 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 600px) {
  .popup-item__top {
    padding-left: calc(15px + 5 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 600px) {
  .popup-item__top {
    min-height: calc(58px + 10 * ((100vw - 320px) / 280));
  }
}
.popup-item__title {
  margin-right: 15px;
  text-transform: uppercase;
  /* Если меньше контейнера */
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-align: left;
  color: #524593;
}
@media (max-width: 600px) {
  .popup-item__title {
    font-size: calc(16px + 2 * ((100vw - 320px) / 280));
  }
}
.popup-item__content {
  /* Если меньше контейнера */
  padding: 20px;
  max-height: 540px;
  overflow: auto;
  background-color: #fff;
}
@media (max-width: 600px) {
  .popup-item__content {
    padding: calc(15px + 5 * ((100vw - 320px) / 280));
  }
}
.popup-item__content::-webkit-scrollbar {
  width: 5px;
  box-shadow: inset 0px 0px 1px rgb(134, 134, 134);
  background-color: #e9e9e9;
}
.popup-item__content::-webkit-scrollbar-thumb {
  background-color: #82878F;
}
@media (any-hover: hover) {
  .popup-item__content::-webkit-scrollbar-thumb:hover {
    background-color: #6d7177;
  }
}

.page {
  flex: 1 1 100%;
}
@media (max-width: 768.2px) {
  .page {
    background-color: #fff;
  }
}
.page__main-block {
  padding-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.main__content {
  /* Если меньше контейнера */
  padding-top: 45px;
  /* Если меньше контейнера */
  padding-bottom: 60px;
  width: 100%;
  overflow: hidden;
  border-radius: 0px 0px 25px 25px;
  background-color: #fff;
}
@media (max-width: 600px) {
  .main__content {
    padding-top: calc(25px + 20 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 600px) {
  .main__content {
    padding-bottom: calc(35px + 25 * ((100vw - 320px) / 280));
  }
}
.main-block__grade {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-block__sub-text {
  margin-top: 15px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  line-height: 112.5%;
  letter-spacing: 0em;
  text-align: left;
}

.main-block-grade__btn {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  transition: background-color 0.2s ease 0s;
  background-color: rgba(174, 195, 67, 0.4);
  font-family: Helvetica;
  /* Если меньше контейнера */
  font-size: 18px;
  font-weight: 400;
  line-height: 116.6666666667%;
  letter-spacing: 0em;
  text-align: center;
}
@media (max-width: 600px) {
  .main-block-grade__btn {
    font-size: calc(16px + 2 * ((100vw - 320px) / 280));
  }
}
.main-block-grade__btn._active {
  background-color: #AEC343;
}
@media (any-hover: hover) {
  .main-block-grade__btn:hover {
    background-color: rgba(174, 195, 67, 0.75);
  }
}

.question__content {
  /* Если меньше контейнера */
  margin-top: 40px;
  display: none;
}
@media (max-width: 600px) {
  .question__content {
    margin-top: calc(30px + 10 * ((100vw - 320px) / 280));
  }
}
.question__content._active {
  display: block;
}
.thanks {
  border-radius: 33px;
  overflow: hidden;
  background-color: #AEC343;
}
@media (min-width: 768.2px) {
  .thanks {
    -webkit-animation-name: animationBlock;
            animation-name: animationBlock;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
  }
  @-webkit-keyframes animationBlock {
    0% {
      opacity: 0;
      transform: scale(0.6);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes animationBlock {
    0% {
      opacity: 0;
      transform: scale(0.6);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
@media (max-width: 768.2px) {
  .thanks {
    border-radius: 0px;
    height: 100vh;
  }
}
.thanks__body {
  display: flex;
  position: relative;
  flex-direction: column;
}
@media (min-width: 768.2px) {
  .thanks__body:before {
    content: "";
    /* Если меньше контейнера */
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/thanks/e-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 768.2px) and (max-width: 600px) {
  .thanks__body:before {
    width: calc(60px + 40 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 768.2px) {
  .thanks__body {
    height: 100%;
  }
}
@media (min-width: 768.2px) {
  .thanks__logo {
    display: none;
  }
}
@media (max-width: 768.2px) {
  .thanks__logo {
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }
}
.thanks__text-block {
  padding-top: 77px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}
@media (min-width: 768.2px) {
  .thanks__text-block {
    padding-right: 20px;
    /* Если меньше контейнера */
    padding-left: 115px;
  }
}
@media (min-width: 768.2px) and (max-width: 600px) {
  .thanks__text-block {
    padding-left: calc(95px + 20 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 768.2px) {
  .thanks__text-block {
    /* Если меньше контейнера */
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 768.2px) and (max-width: 600px) {
  .thanks__text-block {
    padding-top: calc(15px + 10 * ((100vw - 320px) / 280));
  }
}
.thanks__title {
  margin-bottom: 15px;
  /* Если меньше контейнера */
  font-size: 28px;
  font-weight: 720;
  line-height: 128.5714285714%;
  letter-spacing: 0em;
  text-align: center;
}
@media (max-width: 600px) {
  .thanks__title {
    font-size: calc(24px + 4 * ((100vw - 320px) / 280));
  }
}
.thanks__sub-title {
  /* Если меньше контейнера */
  font-size: 20px;
  font-weight: 420;
  line-height: 125%;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
@media (max-width: 600px) {
  .thanks__sub-title {
    font-size: calc(18px + 2 * ((100vw - 320px) / 280));
  }
}
.thanks__footer {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  /* Если меньше контейнера */
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: rgba(217, 217, 217, 0.2);
}
@media (max-width: 600px) {
  .thanks__footer {
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / 280));
  }
}
@media (max-width: 768.2px) {
  .thanks__footer {
    padding-top: 35px;
    padding-bottom: 35px;
    height: 100%;
    border-radius: 0px;
  }
}

.thanks-footer__title {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 116.6666666667%;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.thanks-footer__icons {
  row-gap: 13px;
  /* Если меньше контейнера */
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .thanks-footer__icons {
    margin-top: calc(25px + -10 * ((100vw - 320px) / 280));
  }
}
.thanks-footer__icon:not(:last-child) {
  /* Если меньше контейнера */
  margin-right: 15px;
}
@media (max-width: 600px) {
  .thanks-footer__icon:not(:last-child) {
    margin-right: calc(10px + 5 * ((100vw - 320px) / 280));
  }
}